#top {
    position: relative;
    background:  URL('../bilder/header.png');
    background-size: cover;
    padding: 20px;
    margin: 0px 0px 10px 0px;
}

#right {
    float: right;
    background: URL('../bilder/bg2.png');
    background-size: cover;
    padding: 5px;
    width: 100px;
    height: 155px;
}
#content{
    background: URL('../bilder/bg2.png');
    background-size: cover;
    padding: 5px;
    margin: 0px 120px 0px 0px; 
}