#top {
    position: relative;
    background:  URL('../bilder/header.png');
    background-size: cover;
    padding: 20px;
    margin: 0px 170px 10px 170px;
}

#right {
    float: right;
    background: URL('../bilder/bg2.png');
    background-size: cover;
    padding: 5px;
    width: 100px;
    height: 155px;
    margin: 0px 170px 0px 0px;
    
    
}
#content{
    background: URL('../bilder/bg2.png');
    background-size: cover;
    padding: 5px;
    height: 155px;
    margin: 0px 290px 0px 170px; 
}
#overview{
    background-size: cover;
    padding: 5px;
    margin: 0px 0px 0px 0px; 
}