#top {
    position: relative;
    background:  URL('../bilder/header.png');
    background-size: cover;
    padding: 20px;
    margin: 0px 70px 0px 70px;
}

#flag {
    float: left;
    position: relative;
    background: URL('../bilder/bg.png');
    background-size: cover;
    width: 200px;
    padding: 5px;
    height: max-content;
    margin: 10px 0px 0px 70px;
}

#menu {
    float: left;
    position: fixed;
    width: 200px;
    padding: 5px;
    background: URL('../bilder/bg.png');
    background-size: cover;
    height: max-content;
    margin: 80px 0px 0px 70px;
}

 #reg{
    float: right;
    position: relative;
    background: URL('../bilder/bg.png');
    padding: 5px;
    background-size: cover;
    height: max-content;
    width: 235px;
    margin: 10px 70px 0px 0px;
}
#content{
    position: relative;
    background: URL('../bilder/bg.png');
    padding: 5px;
    background-size: cover;
    height: max-content;
    margin: 10px 325px 0px 290px; 
}
#login{
    position: relative;
    background: URL('../bilder/bg.png');
    background-size: cover;
    padding: 5px;
    margin: 10px 70px 100px 290px; 
}
body {
    font-size: 12px;
    font-family: Arial;
    color: #000000;
    margin: 10px;
    background: url('../bilder/bakgrunn.png') fixed;
}

a:link, a:visited{
    font-size: 12px;
    color: black;
    text-decoration: none;
}

a:link:hover{
    color: steelblue;
}

h1 {
    font-family: "Helvetica CE";
    font-size:  36px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    color: #FFFFFF;
}

h2 {
    font-family: Arial;
    font-size:  30px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    color: #FFFFFF;
}
h3{
    font-family: Arial;
    font-size:  15px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    color: #FFFFFF;
}
p {
    font-family: Arial;
    font-size:  13px;
    margin: 0px;
    padding: 0px;
    color: #000000;
}

.hode {
    text-align: center;
    color: black;
    background: whitesmoke;
}

.likeRad{
    height: 25px;
    background: whitesmoke;
}
.likeRad:hover{
    background: white;
}
.oddeRad{
    height: 25px;
    background: lightsteelblue;
}
.oddeRad:hover{
    background: powderblue;
}
.fot{
    background: whitesmoke;
    text-align: center;
    font-weight: bold;
}

.rad1{ width: 110px; text-align: center}
.rad2{ width: 100px; text-align: center}
.rad3{ width: 110px; text-align: center}
.rad4{ width: 220px; text-align: center}
.rad5{ width: 60px; text-align: center}
.rad6{ width: 60px; text-align: center}

