body {
    font-size: 12px;
    font-family: Verdana, "Verdana CE",  Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    color: #000000;  
    margin: 10px;
    background: url('../bilder/bg.png') fixed;
    background-size: cover;

}

h1 {
    font-family: "Helvetica CE";
    font-size:  36px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    color: #FFFFFF;
}

h2 {
    font-family: Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    font-size:  20px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    color: #FFFFFF;
}
p {
    font-family: Arial;
    font-size:  13px;
    margin: 0px;
    padding: 0px;
    color: #000000;
}
